/* Global Styling */
  .events-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
  }
  
  .events-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .events-header h1 {
    font-size: 2.5rem;
    color: #4cAF50;
  }
  
  .events-header p {
    font-size: 1.1rem;
    color: #ffffff;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
  }
  
  /* Event Cards */
  .events-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .events-card {
    background: rgb(33, 33, 33);
    border-radius: 10px;
    width: 430px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
 
  
  .event-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .event-content {
    padding: 20px;
  }
  
  .event-category {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .event-overview {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 15px;
  }
  
  .event-highlights {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
    color: #2c3e50;
  }
  
  .event-upcoming {
    margin-top: 20px;
  }
  
  .event-upcoming h3 {
    font-size: 1.2rem;
    color: #2980b9;
    margin-bottom: 5px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
  }
  
  .cta-button:hover {
    background-color: #c0392b;
  }
  