.event-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(33, 33, 33);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

.Host-event-heading {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #ffffff;
}

.event-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event-input, .event-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: black;
}

.event-textarea {
    height: 80px;
    resize: none;
}

.event-input:focus, .event-textarea:focus {
    outline: none;
    border-color: #4caf50;
}

.event-button {
    padding: 10px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.event-button:hover {
    background: #4caf50;
}

.event-button:disabled {
    background: #aaa;
    cursor: not-allowed;
}

.event-message {
    margin-bottom: 10px;
    font-size: 1rem;
    color: green;
}

.event-image-preview {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
