.signup-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 120px;
    margin-bottom: 80px;
    justify-content: center;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
  }
  .login-link{
    color: rgb(71, 175, 220);
    
  }
  .signup-form .form-group {
    margin-bottom: 15px;
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .signup-form .error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .signup-form .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-form .submit-btn:hover {
    background-color: #45a049;
  }
  